<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Protótipo para um compilador de uso didático
                </h1>
                <small>O projeto foi desenvolvido por metade da turma da disciplina de microprocessadores e microcontroladores composta pelos alunos:</small>
            </div>
            <br>
              <ul>
                <li>
                  Alfredo Silva
                </li>
                <li>
                  Filipe Cavalcanti
                </li>
                <li>
                  Filipe Fernandes
                </li>
                <li>
                  Leonardo Souza
                </li>
                <li>
                  Marlon Costa
                </li>
                <li>
                  Wesley Azevedo
                </li>
                <li>
                  Willian Adriano
                </li>
              </ul>
        </div>
    </div>
</div>