<div class="footer">
    <!--
    <div class="pull-right">
        Design by Wesley Azevedo
    </div>
    -->
    <div>
      Engenharia de Computação - Turma de Software da Disciplina Microprocessadores e Microcontroladores &copy; 2017
    </div>
</div>
